<a href="https://colab.research.google.com/github/val93s/intro_to_ds/blob/main/Copy_of_6_1_2_Pandas_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Pandas Data Wrangling Activity

## Step 1. Create two different dataframes in two different ways in the following cells. Dataframes should have at least five rows and two columns. 

Hint: If you need a reminder, go over module 5.4 or Google examples.

In [ ]:
#Need sample dictionary and sample np.array
a = {'col1':[2,3,5,6,7],'col2':[4,3,12,7,8]}
b = np.array([[1,2],[4,2],[3,6],[6,4],[5,6]])
cols = ['col1','col2']

In [ ]:
#create a dataframe called df1 using pd.DataFrame(dictionary)
#Replace ... with your code.
df1 = pd.DataFrame(a)
df1

   col1  col2
0     2     4
1     3     3
2     5    12
3     6     7
4     7     8

In [ ]:
#create a dataframe called df2 using pd.DataFrame(np.array,columns=cols)
df2 = pd.DataFrame (b)
df2

   0  1
0  1  2
1  4  2
2  3  6
3  6  4
4  5  6

## Step 2. View top two rows.

In [ ]:
df1.head(2)
df2.head(2)

   0  1
0  1  2
1  4  2

## Step 3. View a value from third row, second column.

In [ ]:
df1.iloc[3,1]

7

## Step 4. Apply row-wise concat operation on dataframes `df1` and `df2`.

In [ ]:
pd.concat([df1, df2])

   col1  col2    0    1
0   2.0   4.0  NaN  NaN
1   3.0   3.0  NaN  NaN
2   5.0  12.0  NaN  NaN
3   6.0   7.0  NaN  NaN
4   7.0   8.0  NaN  NaN
0   NaN   NaN  1.0  2.0
1   NaN   NaN  4.0  2.0
2   NaN   NaN  3.0  6.0
3   NaN   NaN  6.0  4.0
4   NaN   NaN  5.0  6.0

# Step 5. Apply column-wise concat operation on a dataframe.

In [ ]:
pd.concat([df1, df2], axis= 1)

   col1  col2  0  1
0     2     4  1  2
1     3     3  4  2
2     5    12  3  6
3     6     7  6  4
4     7     8  5  6